<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Buzz Beer</title>
    {% endblock %}
    {% block sub_header %}
    {% endblock %}

  </head>
  <body>
    {% block content %}
      <!-- default content text (typically empty) -->
    {% endblock %}
    <hr>
    <ul>
        <li>
            <a href="calibrate">Recalibrate your scale</a>
        </li>
        <li>
            <a href="newkeg">New keg</a>
        </li>
        <li>
            <a href="gauge">Current stats</a>
        </li>
    </ul>
  </body>
</html>
