{% extends "base.html" %}

{%  block sub_header %}
    <script src='https://cdn.plot.ly/plotly-2.32.0.min.js'></script>

    <script type="text/javascript">

        function httpGetAsync(theUrl, callback)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                console.log(xmlHttp.readyState);
                console.log(xmlHttp.status);
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }

        function data_cb(data) {
            console.log(data)
        }

        function refresh() {
            // httpGetAsync("http://127.0.0.1:8000/keg/api", data_cb)
            location.reload();
            // setTimeout(refresh, 5000);
        }

        function drawGauge(total_beers, beers_left) {
            var data = [
                {
                    domain: { x: [0, 1], y: [0, 1] },
                    value: beers_left,
                    title: { text: "Beers" },
                    type: "indicator",
                    mode: "gauge+number",
                    gauge: {
                        axis: {range: [null, total_beers], tickwidth: 1, tickcolor: "darkblue"},
                    }
                }
            ];

            var layout = { width: 600, height: 500, margin: { t: 0, b: 0 } };
            Plotly.newPlot('gauge_div_id', data, layout);
        }

        function buzzOnLoad() {
            drawGauge({{ total_beers }}, {{beers_left}});
            setTimeout(refresh, 5000);
        }
        window.onload = buzzOnLoad;
    </script>
{% endblock %}


{% block content %}

{% if not scale_exists %}
    <h1>You must calibrate your scale.</h1>
    <a href="calibrate">Calibrate</a>
{%  elif not keg_exists %}
    <h1>You must add a new keg.</h1>
    <a href="newkeg">New Keg</a>
{%  else %}
    <div>
    <div id='gauge_div_id'></div>
    <h2>Stats</h2>
        <table>
            <tr>
                <td>Ounces Left</td>
                <td>{{weight_oz}}</td>
            </tr>
            <tr>
                <td>Total Beers</td>
                <td>{{total_beers}}</td>
            </tr>
            <tr>
                <td>Beers Consumed</td>
                <td>{{beers_consumed}}</td>
            </tr>
            <tr>
                <td>Beers Remaining</td>
                <td>{{beers_left}}</td>
            </tr>
        </table>
        </div>
{%  endif %}

{% endblock %}
